---
layout: body
comments: true
---

{% include analytics.html %}

<div class="outer">
  <div class="inner">

    <header class="page-header inner-small">
      <h1 class="page-title line-top">{{ page.title }}</h1>
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <p class="page-subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </header><!--.page-header -->
    <div class="portfolio-feed layout-{{ page.layout_style }}">
      {% assign display_projects = '/projects' | get_pages | sort: 'date' | reverse %}
      {% for post in display_projects %}
      <article class="post project">
        <a href="{{ post.url | relative_url }}" class="post-link">
          {% assign thumb_img_path_is_not_empty = post.thumb_img_path | is_not_empty %}
          {% if thumb_img_path_is_not_empty %}
          <div class="post-thumbnail">
            <img class="thumbnail" src="{{ post.thumb_img_path | relative_url }}" alt="{{ post.title }}" />
          </div>
          {% endif %}
          <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>
          </header>
        </a><!-- .post-link -->
      </article><!-- .project -->
      {% endfor %}
    </div><!-- .portfolio-feed -->

    <!-- Pagination TBD -->
    <!--
    <nav class="pagination">
      <div class="nav-links">
        <a class="newer-posts button" href="#"><span class="icon-angle-left" aria-hidden="true"></span><span
            class="screen-reader-text">Prev</span></a>
        <span class="page-number">Showing page X of Y</span>
        <a class="older-posts button" href="#"><span class="screen-reader-text">Next</span><span class="icon-angle-right"
            aria-hidden="true"></span></a>
      </div>
    </nav>
    -->
    
  </div><!-- .inner -->
</div><!-- .outer-->






{% if page.comments %}


<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://thunkable-templates.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endif %}
